<div class="bs-docs-section">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title m-b-0">Client List</h4>

            <div></div>

            <table id="cssTable" class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 15%;">First name</th>
                        <th class="text-center" style="width: 15%;">Last name</th>
                        <th class="text-center" style="width: 10%;">Phone number</th>
                        <th class="text-center" style="width: 10%;">Email</th>
                        <th class="text-center" style="width: 5%;">Country</th>
                        <th class="text-center" style="width: 15%;">City</th>
                        <th class="text-center" style="width: 16%;">Zip</th>
                        <th class="text-center" style="width: 14%;">Action</th>
                    </tr>
                </thead>
                <tbody>    
                    <tr *ngFor="let client of clients">
                        <td class="text-center"> {{ client.firstName }}</td>
                        <td class="text-center">{{ client.lastName }}</td>
                        <td class="text-center">{{ client.contact.phoneNumber }}</td>
                        <td class="text-center">{{ client.contact.email }}</td>
                        <td class="text-center">{{ client.contact.country }}</td>
                        <td class="text-center">{{ client.contact.city }}</td>
                        <td class="text-center">{{ client.contact.zip }}</td>
                        
                        <td class="text-center">
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteClient(client.clientId)"><fa-icon [icon]="faTrash"></fa-icon></button>
                            <button type="button" class="btn btn-outline-primary btn-sm"><fa-icon [icon]="faEye"></fa-icon></button>
                            <button type="button" class="btn btn-outline-warning btn-sm"><fa-icon [icon]="faCopy"></fa-icon></button>
                            <button type="button" class="btn btn-outline-success btn-sm"><fa-icon [icon]="faEdit"></fa-icon></button>
                            

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<simple-notifications ></simple-notifications>

